body 
{
    
}


main 
{

}

footer 
{

}

.bold 
{
    font-weight: bold;
}

header nav
{
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .navbar-light;
    @extend .bg-light;
    
}

header nav ul 
{
    @extend .navbar-nav;
    @extend .mr-auto;
}

header nav ul li 
{
    @extend .nav-item;

}


header nav ul li a 
{
    @extend .nav-link;

}


.register-form
{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.register-form span
{
    @extend .form-group;
    width: 100%;
}

.register-form span .input
{
    @extend .my-1;
    @extend .form-control;

}

.register-form span .button
{
    @extend .btn;
    @extend .btn-primary;
}


.contact-form
{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.contact-form span
{
    @extend .form-group;
    width: 100%;
}

.contact-form span .input
{
    @extend .my-1;
    @extend .form-control;

}

.contact-form span .button
{
    @extend .btn;
    @extend .btn-primary;
}


.login-form
{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.login-form span
{
    @extend .form-group;
    width: 100%;
}

.login-form span .input
{
    @extend .my-1;
    @extend .form-control;

}

.login-form span .button
{
    @extend .btn;
    @extend .btn-primary;
}

#frontpage-product-page
{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    grid-gap: 16px;
}


#frontpage-product-page a:first-child
{
    grid-column: span 6;
    grid-row: span 3;
}

#frontpage-product-page a
{
    background-color: #333;
    grid-column: span 3;
    grid-row: span 3;
    min-height: 400px;
}

.button 
{
    @extend .btn;
    @extend .btn-primary;
}

@media only screen and (max-width: 1024px) 
{
    #frontpage-product-page
    {    
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    #frontpage-product-page a
    {
        grid-column: span 3;
        grid-row: span 1;
    }
  }

@import './bootstrap/bootstrap.scss';