body 
{
    
}


main 
{

}

footer 
{

}

.register-form
{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.register-form span
{
    @extend .form-group;
    width: 100%;
}

.register-form span .input
{
    @extend .my-1;
    @extend .form-control;

}

.register-form span .button
{
    @extend .btn;
    @extend .btn-primary;
}


@import './bootstrap/bootstrap.scss';