$primary-color: lighten(#34495e, 2) !default;
$secondary-color: lighten(#e74c3c, 1) !default;

body
{

}

header 
{
    @extend nav;
}

header nav 
{
    @extend .nav-wrapper;
    
}

.information-container
{
    @extend .container;
}

main 
{
    padding-top: 32px;
    padding-bottom: 32px;
}

footer 
{
    @extend .page-footer;

}

.copyright
{
    @extend .footer-copyright;
}

%form_boundary
{
    max-width: 800px;
}

#forgot_form_boundary
{
    @extend %form_boundary;

    margin-right: auto;
    margin-left: auto;
}

#login_form_boundary
{
    @extend %form_boundary;

    margin-right: auto;
    margin-left: auto;
}

#login_form_boundary form .split 
{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}


#login_form_boundary form .split a:first-child
{
    text-align: left;
}

#login_form_boundary form .split a:last-child
{
    text-align: right;
}

#register_form_boundary
{
    @extend %form_boundary;

    margin-right: auto;
    margin-left: auto;
}

#contact_form_boundary
{
    @extend %form_boundary;

    margin-left: auto;
    margin-right: auto;
}

.button 
{
    @extend .btn;
}

.invoice
{
    margin-top: 64px;
    margin-bottom: 64px;
}

.invoice_overview
{

}

.invoice_section
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.invoice_products {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.invoice_product
{
    display: grid;
    grid-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    width: 90%;
    
    margin-left: auto;
    margin-right: auto;

}

.invoice_body
{
    display: grid;
    grid-gap: 8px;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    font-size: 14px;
    text-align: center;
    color: gray;
    border-top: 1px solid black;

}

.home-product-container
{
    @extend .row;
}


.home-product-container .product
{
    @extend .col;
    @extend .s3;
}

.product .actions
{
    @extend .section;
}

.home-product-view .more
{
    @extend .section;
    width: 100%;
    text-align: center;
}

section
{
    @extend .section;
}

h3
{
    text-align: center;
}

.home-articles-view .more
{
    @extend .section;
    text-align: center;
}

.home-article-container
{
    @extend .row;
}

.home-article-container .article
{
    @extend .col;
    @extend .m4;
}

.article .title
{
    @extend .flow-text;

}

.home-about-us .more
{
    @extend .section;
    text-align: center;
}

.home-about-us .area .content
{

}

.frontpage
{
    width: 100%;
    height: 400px;

    position: relative;
}

.frontpage .content 
{
    position: absolute;
    top: -32px;
    width: 100%;
    height: 400px;
    background-color: lighten($color: #34495e, $amount: 8);
}

.pay
{
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.action 
{
    @extend .section;
}

.pay-button
{
    @extend .button;
    @extend .waves-effect;
    @extend .waves-light; 
}

.product-page
{
    @extend .row;
}

.product-page .product
{
    @extend .col;
    @extend .s3;
}

.product-page .product .title
{
    @extend .flow-text;
}

.product-page .product .more .buy
{
    @extend .section;
}

.product-page .product .more .view
{
    @extend .section;
    text-align: left;
}

.pagination-area
{
    @extend .pagination;
    @extend .section;

    text-align: center;
}

.pagination-area .li .a
{
    color: white;
}

.button-pagination
{
    @extend .btn;
    color:white !important;
}

.shop-section
{

}

.shop-section .shop-section-container
{
    @extend .row;
}

.shop-section-container .product
{
    @extend .col;
    @extend .m3;
}
.view
{
    @extend .section;
    text-align: center;
}

@import './materialize.scss';