body 
{

}

header 
{
    @extend nav;
}

header nav 
{
    @extend .nav-wrapper;
    
}

.information-container
{
    @extend .container;
}

main 
{
    padding-top: 32px;
    padding-bottom: 32px;
}

footer 
{
    @extend .page-footer;

}

.copyright
{
    @extend .footer-copyright;
}

%form_boundary
{
    max-width: 800px;
}

#forgot_form_boundary
{
    @extend %form_boundary;

    margin-right: auto;
    margin-left: auto;
}

#login_form_boundary
{
    @extend %form_boundary;

    margin-right: auto;
    margin-left: auto;
}

#login_form_boundary form .split 
{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
}


#login_form_boundary form .split a:first-child
{
    text-align: left;
}

#login_form_boundary form .split a:last-child
{
    text-align: right;
}

#register_form_boundary
{
    @extend %form_boundary;

    margin-right: auto;
    margin-left: auto;
}

#contact_form_boundary
{
    @extend %form_boundary;

    margin-left: auto;
    margin-right: auto;
}

.button 
{
    @extend .btn;
}

.invoice
{
    margin-top: 64px;
    margin-bottom: 64px;
}

.invoice_overview
{

}

.invoice_section
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.invoice_products {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.invoice_product
{
    display: grid;
    grid-gap: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    width: 90%;
    
    margin-left: auto;
    margin-right: auto;

}

.invoice_body
{
    display: grid;
    grid-gap: 8px;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    font-size: 14px;
    text-align: center;
    color: gray;
    border-top: 1px solid black;

}

@media only screen and (max-width: 1024px) 
{
    
}

@import './materialize.scss';